html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  width: 100vw; height: 100vh; position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #EED5C2;
  color: var(--text);
  overflow: hidden;
  transition: background-color .25s ease, color .25s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background: #EED5C2;
  color: #000000;
  transition: background-color .25s ease, color .25s ease;
}

h1 {
  position: relative;
  z-index: 10;
}

.wave {
  position: fixed;
  bottom: 0px;
  width: 100%;
  pointer-events: none;
}

.bg1 {
  height: 20%;
  z-index: 4;
}

.bg2 {
  height: 40%;
  z-index: 3;
}

.bg3 {
  height: 60%;
  z-index: 2;
}

.bg4 {
  height: 80%;
  z-index: 1;
}

.buttons {
  position: fixed;
  top: 90%;
  display: flex;
  gap: 20px;
  z-index: 10;
}
